<section class="section-default">
    <div class="div-default">
        <div class="container">
            <h1></h1>
            <ul class="categoria" >
                <li *ngFor="let produto of produtosCategoriaUm">
                    <div>
                        <a class="thumbTile" routerLink="/produto/{{produto.id}}">
                            <img src="{{produto.enderecoImagem}}" alt="{{produto.titulo}}">
                        </a>
                        
                        <h2>{{produto.titulo}}</h2>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>