<section class="section-default">
    <div class="div-default">
        <div class="sobre">
            <h1>Política de Reembolso</h1>
            <br>

            <p>
                Você pode devolver qualquer produto comprado na RetroFlix!</p>
            <p> 
                Você tem 30 dias para manifestar sua intenção de devolver o produto a partir da data de recebimento.
                Se a devolução for por arrependimento (não deseja mais o produto), você terá 30 dias para manifestar 
                sua intenção de devolver o produto.
                O custo do frete de devolução é por conta do comprador e o produto deve estar no mesmo estado de 
                conservação em que foi recebido (deve devolvê-lo lacrado).
            <p>
            <p>
                Se o produto estiver com defeito ou for diferente do anunciado, o frete de devolução será por conta da
                RetroFlix.
            </p>
            <p>
                O reembolso é efetuado através de depósito em conta corrente em até 7 dias úteis após o recebimento do
                produto.
                No caso de cancelamento, o reembolso de pedidos efetuados por Cartão de Crédito será efetuado através 
                de estorno do Cartão de Crédito.
            </p>
            <p>
                Todas as demais formas de pagamento, através de crédito em conta.
            </p>
        </div>
    </div>
</section>