<section class="section-default">
    <div class="div-default">
        <div class="sobre">
            <h1>Política de privacidade</h1>

            <h2>A. Introdução </h2>
            <p> 1. A privacidade dos visitantes do nosso site é muito importante para nós e estamos comprometidos em
                protegê-la. Esta política explica o que fazemos com suas informações pessoais. </p>
            <p>2. O consentimento para o uso de cookies de acordo com os termos desta política quando você visita nosso
                site pela primeira vez nos permite usar cookies toda vez que você visita nosso site. </p>

            <h2>B. Crédito </h2>
            <p> 1. Este documento foi criado usando um modelo da SEQ Legal (seqlegal.com) e modificado por vpnMentor
                (www.vpnmentor.com).</p>

            <h2>C. Como coletamos seus dados pessoais </h2>
            <p> Os seguintes tipos de informações pessoais podem ser coletados, armazenados , e usado: </p>
            1. Informações sobre seu computador, incluindo seu endereço IP, localização geográfica, tipo e versão do
            navegador e sistema operacional <br>
            2. Informações sobre suas visitas e uso deste site, incluindo a fonte de referência, duração da visita,
            visualizações de página, e caminhos de navegação do site. <br>
            3. Informações que você insere quando se registra em nosso site, como seu site de e-mail. <br>
            4. Informações que você insere quando cria um perfil em nosso site. Por exemplo, seu nome, fotos de perfil,
            sexo, aniversário, status de relacionamento, interesses e hobbies, detalhes educacionais e detalhes de
            emprego. <br>
            5. Informações que você insere para configurar a assinatura de nossos e-mails e/ou newsletters. <br>
            6. Informações geradas durante o uso do nosso site, incluindo quando, com que frequência e em que
            circunstâncias você o utiliza. <br>
            7. Informações relacionadas a qualquer coisa que você compre, serviços que você usa ou transação que você
            faz através do nosso site, que inclui seu nome, endereço, número de telefone, endereço de e-mail e detalhes
            do cartão de crédito. <br>
            8. Informações que você publica em nosso site com a intenção de publicá-las na internet. <br>
            9. Quaisquer outras informações pessoais que você nos enviar. <br>

            <h2> D. Uso de informações pessoais</h2>
            <p> As informações pessoais enviadas a nós por meio de nosso site serão usadas para os fins especificados
                nesta política ou nas páginas relevantes do site. Podemos usar suas informações pessoais para o
                seguinte: </p>
            1. Administrar nosso site e negócios <br>
            2. Personalizar nosso site para você <br>
            3. Permitir o uso dos serviços disponíveis em nosso site <br>
            4. Enviar a você mercadorias compradas por meio de nosso site <br>
            5. Fornecer serviços adquiridos através do nosso site <br>
            6. Envio de extratos, faturas e lembretes de pagamento para você e cobrança de pagamentos de você. <br>
            7. Envio de comunicações comerciais de marketing <br>
            8. Envio de notificações por e-mail que você solicitou especificamente. <br>
            9. Envio de nosso boletim informativo por e-mail se você se inscreveu (você pode cancelar a inscrição a
            qualquer momento). <br>
            10. Enviar a você comunicações de marketing relacionadas aos nossos negócios ou aos negócios de terceiros
            que achamos que podem ser de seu interesse. <br>
            11. Fornecer a terceiros informações estatísticas sobre nossos usuários. <br>
            12. Lidar com consultas e reclamações feitas por você ou sobre você em relação ao nosso site <br>
            13. Manter nosso site seguro e evitar fraudes. <br>
            14.Verificar o cumprimento dos termos e condições que regem a utilização do nosso website. <br>
            15. Outros usos.

            <p>Se você enviar informações pessoais para publicação em nosso site, publicaremos e usaremos essas
                informações de acordo com a licença que você nos concede.
            </p>

            <p>Suas configurações de privacidade podem ser usadas para limitar a publicação de suas informações em nosso
                site e podem ser ajustadas usando controles de privacidade no site.
            </p>

            <p>Nós não iremos, sem o seu consentimento expresso, fornecer suas informações pessoais a terceiros para
                marketing direto deles ou de terceiros.
            </p>

            <h2>E. Divulgação de informações pessoais </h2>
            <p> Podemos divulgar suas informações pessoais a qualquer um de nossos funcionários, executivos,
                seguradoras, consultores profissionais, agentes, fornecedores ou subcontratados conforme razoavelmente
                necessário para os fins estabelecidos nesta política.
            </p>
            <p> Podemos divulgar suas informações pessoais a qualquer membro de nosso grupo de empresas (isso significa
                nossas subsidiárias, nossa holding final e todas as suas subsidiárias) conforme razoavelmente necessário
                para os fins estabelecidos nesta política.
            </p>
            <p>
                Podemos divulgar suas informações pessoais: </p>

            1. na medida em que sejamos obrigados a fazê-lo por lei; <br>
            2. em conexão com qualquer processo legal em andamento ou prospectivo; <br>
            3. para estabelecer, exercer ou defender nossos direitos legais (incluindo fornecer informações a terceiros
            para fins de prevenção de fraudes e redução do risco de crédito); <br>
            4. ao comprador (ou potencial comprador) de qualquer negócio ou ativo que estejamos (ou estejamos
            contemplando) vender; e <br>
            5. a qualquer pessoa que acreditemos razoavelmente que possa solicitar a um tribunal ou outra autoridade
            competente a divulgação dessas informações pessoais onde, em nossa opinião razoável, tal tribunal ou
            autoridade teria uma probabilidade razoável de ordenar a divulgação dessas informações pessoais. <br>
            <p>
                Exceto conforme previsto nesta política, não forneceremos suas informações pessoais a terceiros. </p>

            <h2>
                F. Transferências internacionais de dados</h2>

            1. As informações que coletamos podem ser armazenadas, processadas e transferidas entre qualquer um dos
            países em que operamos para nos permitir.<br>
            2. As informações que coletamos podem ser transferidas para os seguintes países
            que não possuem leis de proteção de dados equivalentes às vigentes no Espaço Económico Europeu: Estados
            Unidos da América, Rússia, Japão, China e Índia.<br>
            3. Informações pessoais que você publica em nosso site ou envia para publicação em nosso site podem estar
            disponíveis, via internet, em todo o mundo. Não podemos impedir o uso ou uso indevido de tais informações
            por terceiros.<br>
            4. Você concorda expressamente com as transferências de informações pessoais descritas nesta Seção F.<br>

            <h2>
                G. Retenção de informações pessoais</h2>


            1. Esta Seção G estabelece nossas políticas e procedimentos de retenção de dados, que são projetados para
            ajudar a garantir que cumprimos nossas obrigações legais em relação à retenção e exclusão de informações
            pessoais.<br>
            2. As informações pessoais que processamos para qualquer finalidade ou finalidade não devem ser conservadas
            por mais tempo do que o necessário para esse fim ou para esses fins.<br>
            3. Sem prejuízo do artigo G-2, normalmente excluiremos os dados pessoais que se enquadram dentro das
            categorias abaixo indicadas na data/hora abaixo indicada:<br>
            a. tipo de dados pessoais será excluído 'ENTER DATE/TIME'; e<br>
            b. INSIRA DATAS/HORÁRIOS ADICIONAIS.<br>
            4. Não obstante as outras disposições desta Seção G, reterem os documentos (incluindo documentos
            eletrônicos) contendo dados pessoais:<br>
            a. na medida em que sejamos obrigados a fazê-lo por lei;<br>
            b. se acreditarmos que os documentos podem ser relevantes para qualquer processos judiciais prospectivos;
            e<br>
            c. para estabelecer, exercer ou defender nossos direitos legais (incluindo fornecer informações a
            terceiros<br>
            para fins de prevenção de fraudes e redução do risco de crédito).

            <h2>
                H. Segurança de suas informações pessoais</h2>
            1. Tomaremos precauções técnicas e organizacionais razoáveis ​​para evitar a perda, uso indevido ou
            alteração de suas informações pessoais.<br>
            2. Armazenaremos todas as informações pessoais que você fornecer em nosso seguro servidores (protegidos por
            senha e firewall).<br>
            3. Todas as transações financeiras eletrônicas realizadas através de nosso site serão protegidas por
            tecnologia de criptografia.<br>
            4. Você reconhece que a transmissão de informações pela internet é inerentemente inseguro, e não podemos
            garantir a segurança dos dados enviados a Internet.<br>
            5. Você é responsável por manter a senha que usa para acessar nosso site confidenciais; não pediremos sua
            senha (exceto quando você faz login em nosso site).<br>

            <h2> I. Alterações</h2>
            <p>
                Podemos atualizar esta política de tempos em tempos publicando uma nova versão em nosso local na rede
                Internet. Você deve verificar esta página ocasionalmente para garantir que compreende quaisquer
                alterações a
                esta política. Podemos notificá-lo sobre alterações nesta política por e-mail ou através do sistema de
                mensagens privadas em nosso site.</p>

            <h2>
                J. Seus direitos</h2>
            <p>
                Você pode nos instruir a fornecer qualquer informação pessoal que mantemos sobre vocês; o fornecimento
                de
                tais informações estará sujeito ao seguinte:</p>
            1. O pagamento de uma taxa; e<br>
            2. O fornecimento de provas apropriadas de sua identidade para este fim, geralmente aceitaremos uma
            fotocópia do seu passaporte autenticado por um notário mais uma cópia original de uma conta de luz mostrando
            seu endereço atual.<br>

            <p>
                Podemos reter informações pessoais que você solicitar na medida permitida por lei.</p>

            <p>
                Você pode nos instruir a qualquer momento a não processar suas informações pessoais para fins de
                comercialização.</p>

            <p> Na prática, você geralmente concordará expressamente antecipadamente com o uso de suas informações
                pessoais
                para fins de marketing, ou forneceremos a você uma oportunidade de optar por não usar suas informações
                pessoais para propósitos de marketing.</p>


                <h2> K. Sites de terceiros</h2>

           <p>
            Nosso site inclui hiperlinks e detalhes de sites de terceiros. Nós não temos controle e não somos
            responsáveis ​​pelas políticas e práticas de privacidade de terceiros partidos.</p>

            <h2>
                L. Atualizando informações</h2>
                <p>
                    Informe-nos se as informações pessoais que mantemos sobre você precisam ser corrigidas ou atualizadas.
        </p>
        <h2>M. Cookies</h2>
            <p>
            Nosso site usa cookies. Um cookie é um arquivo que contém um identificador (uma string de letras e números)
            que é enviado por um servidor da Web para um navegador da Web e é armazenado pelo navegador. O identificador
            é então enviado de volta ao servidor cada vez que o navegador solicita uma página do servidor. Os cookies
            podem ser cookies “persistentes” ou cookies de “sessão”: um cookie persistente será armazenado por um
            navegador da web e permanecem válidos até a data de vencimento definida, a menos que sejam excluídos pelo
            usuário antes do vencimento encontro; um cookie de sessão, por outro lado, expirará no final da sessão do
            usuário, quando o navegador da web é fechado. Os cookies normalmente não contêm nenhuma informação que
            identifica pessoalmente um usuário, mas as informações pessoais que armazenamos sobre você podem ser
            vinculadas às informações armazenadas e obtidas de cookies. Usamos apenas cookies de sessão / apenas cookies
            persistentes / ambos sessão e cookies persistentes em nosso site.
        </p>
        <p>
            
            1. Os nomes dos cookies que usamos em nosso site e os propósitos para os quais são usados ​​estão descritos
            abaixo:<br>
            a. usamos o Google Analytics e o Adwords em nosso site para reconhecer um computador quando um usuário
            visita o site / rastreia os usuários enquanto navegam no site / permite o uso de um carrinho de compras no
            site / melhorar a usabilidade do site / analisar o uso do site / administrar o site / prevenir fraudes e
            melhorar a segurança do site / personalizar o site para cada usuário / direcionar anúncios que possam ser de
            interesse particular para usuários específicos / descrever finalidade(s);
        </p>
        <p>
            2. A maioria dos navegadores permite que você se recuse a aceitar cookies, por exemplo:<br>
            a. no Internet Explorer (versão 10), você pode bloquear cookies usando as configurações de substituição de
            manipulação de cookies disponíveis clicando em “Ferramentas”, “Opções da Internet”, “Privacidade” e depois
            em “Avançado”;<br>
            b. no Firefox (versão 24), você pode bloquear todos os cookies clicando em “Ferramentas”, “Opções”,
            “Privacidade”, selecionando “Usar configurações personalizadas para histórico” no menu suspenso e
            desmarcando “Aceitar cookies de sites”; e<br>
            c. no Chrome (versão 29), você pode bloquear todos os cookies acessando o menu “Personalizar e controlar” e
            clicando em “Configurações”, “Mostrar configurações avançadas” e “Configurações de conteúdo” e, em seguida,
            selecionando “Bloquear sites de definir quaisquer dados ” sob o título “Cookies”. O bloqueio de todos os
            cookies terá um impacto negativo na usabilidade de muitos sites. Se você bloquear os cookies, não poderá
            usar todos os recursos do nosso site.
        </p>
        <p>

            3. Você pode excluir cookies já armazenados em seu computador, por exemplo:<br>
            a. no Internet Explorer (versão 10), você deve excluir manualmente os arquivos de cookies (você pode
            encontrar instruções para fazer isso em http://support.microsoft.com/kb/278835 );<br>
            b. no Firefox (versão 24), você pode excluir cookies clicando em "Ferramentas", "Opções" e "Privacidade",
            selecionando "Usar configurações personalizadas para histórico", clicando em "Mostrar cookies" e clicando em
            "Remover todos os cookies" ; e<br>
            c. no Chrome (versão 29), você pode excluir todos os cookies acessando o menu “Personalizar e controlar” e
            clicando em “Configurações”, “Mostrar configurações avançadas” e “Limpar dados de navegação” e selecionando
            “Excluir cookies e outros sites e dados de plug-in” antes de clicar em “Limpar dados de navegação”.
        </p>
        <p>

            4. A exclusão de cookies terá um impacto negativo na usabilidade de muitos sites.
        </p>

        </div>
    </div>
</section>