<section class="section-default">
    <div class="div-default">
      <div class="sobre">
        <h1>Central de Ajuda</h1>
      </div>
  
      <div class="content-about">
          <div class="duvidas">
            <h3>Dúvidas frequentes</h3>
      
            <p><a href="#">O que é a Retroflix?</a></p>
            <p><a href="#">Planos e preços</a></p>
            <p><a href="#">Não consigo acessar minha conta</a></p>
            <p><a href="#">Redefinição de senha</a></p>
            <p><a href="#">Atualizar email</a></p>
            <p><a href="#">Atualizar forma de pagamento</a></p>
          </div>
      
          <div class="contatos">
            <h3>Fale conosco</h3>
            <p>(11) 99123-4567</p>
            <p>(11) 99756-4321</p>
            <p>retroflix@atendimento.com.br</p>
          </div>
      </div>
    </div>
  </section>