h1{
    text-align: center;
}

.content-about{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    max-width: 700px;
    height: auto;
    margin: auto;
    text-align: justify;
}
