ul{
    width: 90%;
}
a{    
    color: black;
}
ul li {
    text-align: center;
    list-style: none;
    background-color: rgb(141, 141, 141);
    width: 90%;
    height: 35px;
    padding-left: 7px;
    padding-top: 6px;
    color: black;
    margin: 3px;
    border-radius: 7px;
    margin-bottom: 7px;
}
ul li:hover{
    background-color: rgb(224, 224, 224);
}

ul{ 
    display: grid;
    grid-template-columns: auto auto;
}