ul{
    width: 90%;
}
a{    
    color: black;
}
ul li {
    list-style: none;
    background-color: rgb(141, 141, 141);
    width: 90%;
    height: 25px;
    padding-left: 7px;
    padding-top: 3px;
    color: black;
    margin: 3px;
}
ul li:hover{
    background-color: rgb(224, 224, 224);
}

ul{ 
    display: grid;
    grid-template-columns: auto auto;
}