<h3>The best</h3>
<app-melhores></app-melhores>
<hr>
<h3>Aventura</h3>
<app-aventura></app-aventura>
<hr>
<h3>Romance</h3>
<app-romance></app-romance>
<hr>
<h3>Drama</h3>
<app-drama></app-drama>
<hr>
<h3>Família</h3>
<app-familia></app-familia>
<hr>
<h3>Terror</h3>
<app-terror></app-terror>
<hr>
<h3>Musical</h3>
<app-musical></app-musical>
<hr>
<h3>Ação</h3>
<app-acao></app-acao>
<hr>
<h3>Policial</h3>
<app-policial></app-policial>
<hr>
<h3>Comédia</h3>
<app-comedia></app-comedia>
<hr>
<h3>Séries</h3>
<app-series></app-series>
<hr>
<h3>Suspense</h3>
<app-suspense></app-suspense>
<hr>
<h3>Ficção Científica</h3>
<app-ficcao-cientifica></app-ficcao-cientifica>
<hr>