<header id="header">
    <div class="container-top">
        <div class="logo-menu-mobile">
            
            <a routerLink="">
                <img src="../assets/img/logoretroflix.png" 
                alt="Retroflix | Reviva grandes momentos">
            </a>
        </div>
        <div class="search-top">
            <form action="">
                <input type="search" value="O que você está procurando?">
                <button>Pesquisar</button>
            </form>
        </div>
        <div class="btn-top">
            <img src="../../../assets/img/basket.png" alt="">
            <img src="../../../assets/img/user.png" alt="">
        </div>
    </div>
   
</header>
<div class="container-fluid">
    <div class="pos-f-t">
        <div class="collapse" id="navbarToggleExternalContent">
          <div class="p-4">
            <h4 class="text-white"><a  routerLink="/">Inicio</a></h4>
            <span class="text-muted"><a  routerLink="/sobre">Sobre</a></span>
            <span class="text-muted"><a  routerLink="/categorias">Categorias</a></span>
          </div>
        </div>
        <nav class="navbar navbar-dark ">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </nav>
      </div>
</div>
