.container{
    margin-bottom: 50px;
}
.info-produto{
    margin-left: 0px;
    text-align: left;
}
h1{
    color: #fff;
    font-size: 4em;
    margin: 0px;
    height: 70px;
}

h2{
    color: #fff;
    font-size: 1.5em;
    margin: 0px;
    height: 35px;
}
.titulo p{
    color: #fff;
    font-size: 0.7em;
    margin: 0px;
}

.preco{
    display: inline;
}

.preco p{
    color: #fff;
    font-size: 4em;
    height: 35px;
}

.preco button{
    font-size: 2em;
    width: 60%;
    margin: auto;
    height: 60px;
}

.detalhes-produto{
    text-align: justify;
}

.detalhes-produto{
    display: grid;
    grid-template-columns: auto auto;
}




@media (min-width: 1100px) {

    .container{
        display: grid;
        grid-template-columns: auto auto;
    }

    .detalhes-produto{
        display: grid;
        grid-template-columns: 1fr 5fr;
    }

}

/*        MEDIAQUERY 1100px                     */

@media (min-width: 1100px) {
    .swiper-slide img {
        width: 140px;
        height: 197px;
    }

    .swiper-slide h5 {
        font-size: 1em;
        margin: 0px;
    }

    .swiper-slide p {
        font-size: 0.8em;
        margin-top: 0px;
    }
}