.container{
    margin-bottom: 50px;
}
.info-produto{
    margin-left: 0px;
    text-align: left;
}
h1{
    color: #fff;
    font-size: 28pt;
    margin: 0px;
    height: 70px;
}

h2{
    color: #fff;
    font-size: 16pt;
    margin: 0px;
    height: 35px;
}
.titulo p{
    color: #fff;
    font-size: 10pt;
    margin: 0px;
}

.preco{
    display: inline;
}

.preco p{
    color: #fff;
    font-size: 4em;
    height: 35px;
}

.botoes{
    display: flex;    
    justify-content: flex-start;
    align-items: center;
    
}

.botoes button{
    border-radius: 10px;
}

.compra{
    background-color: rgb(221, 149, 54);
    
}

.preco button{
    font-size: 12pt;
    width: 150px;
    margin: auto;
    height: 50px;
}

.detalhes-produto{
    text-align: justify;
}

.detalhes-produto{
    display: grid;
    grid-template-columns: auto auto;
}



@media (min-width: 1100px) {

    .container{
        display: grid;
        grid-template-columns: auto auto;
    }

    .detalhes-produto{
        display: grid;
        grid-template-columns: 1fr 5fr;
    }

}

.thumbTile{
    cursor: pointer;
}

/*        MEDIAQUERY 1100px                     */

@media (min-width: 1100px) {
    .swiper-slide img {
        width: 140px;
        height: 197px;
    }

    .swiper-slide h5 {
        font-size: 1em;
        margin: 0px;
    }

    .swiper-slide p {
        font-size: 0.8em;
        margin-top: 0px;
    }


    .imagem{
        max-width: 350px;
        margin: auto;
    }
    
    .imagem img{
        width: 100%;
    }


}