.sobre{
    margin: 7px;
    width: 90%;
}

.sobre-itens{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sobre-itens div{
    width: 250px    ;
}

@media (min-width: 880px) {
   
    .sobre{
        margin: auto;
        max-width: 890px;
        width: 90%;
    }

}