<section class="section-default">
    <div class="div-default">
        <div class="sobre">
            <h1>
                Um pouco de história...
            </h1>
            <p>
                A Retroflix Company começou como locadoura de vídeo em São Paulo em 19 de outubro de 2015, 
                fundada pelos jovens André Montanari e Thiago Rodrigues Martins, que rapidamente transformou o negócio em uma corporação bilionária.
            </p>
            <p>
                Focada no público retrô, que gosta de filmes e seriados clássicos, 
                a Retroflix está em plena expansão. Com mais de 10 mil títulos entre grandes filmes e seriados memoráveis.
            </p>
            <p>
                Atualmente conta com mais de 11 milhões de usuários e faturamento de 770 milhões por ano.
            </p>
            <p>
                O segredo segundo Thiago, é o foco em filme que impactaram gerações, como as franquias Star Wars, Indiana Jones e Rocky,
                também conta com séries como Friends, Bewitched e Star Trek.
            </p>
        </div>
        <div class="sobre-itens sobre">
            <div>
                <h2>Missão</h2>
                <p>
                    Nossa missão é proporcionar um entretenimento nostálgico com os melhores filmes clássicos que marcaram gerações. 
                </p>
            </div>
            <div>
                <h2>Visão</h2>
                <p>
                    Se tornar o maior site de vendas de filmes antigos na América Latina.
                </p>
            </div>
            <div>
                <h2>Valores</h2>
                <ul>
                    <li>Paixão</li>
                    <li>Diversidade</li>
                    <li>Qualidade</li>
                    <li>Simplicidade</li>
                </ul>
            </div>
        </div>
    </div>
</section>