<swiper
    [slidesPerView]="1"
    [spaceBetween]="10"
    [pagination]="{
      clickable: true
    }"
    [breakpoints]="{
      '640': {
        slidesPerView: 2,
        spaceBetween: 20
      },
      '768': {
        slidesPerView: 4,
        spaceBetween: 40
      },
      '1024': {
        slidesPerView: 5,
        spaceBetween: 50
      }
    }"
    class="mySwiper"
  >
    <ng-template swiperSlide>
      <div class="swiper-slide">
        <div class="box-filmes">
            <a class="thumbTile" href="#"></a>
            <img src="../../../assets/img/carregarvideo.png" alt="">
            <h5>carregando título...</h5>
            <p>carregando subtítulo...</p>
            <p>★☆...</p>
        </div>
    </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="swiper-slide">
        <div class="box-filmes">
            <a class="thumbTile" href="#"></a>
            <img src="../../../assets/img/carregarvideo.png" alt="">
            <h5>carregando título...</h5>
            <p>carregando subtítulo...</p>
            <p>★☆...</p>
        </div>
    </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="swiper-slide">
        <div class="box-filmes">
            <a class="thumbTile" href="#"></a>
            <img src="../../../assets/img/carregarvideo.png" alt="">
            <h5>carregando título...</h5>
            <p>carregando subtítulo...</p>
            <p>★☆...</p>
        </div>
    </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="swiper-slide">
        <div class="box-filmes">
            <a class="thumbTile" href="#"></a>
            <img src="../../../assets/img/carregarvideo.png" alt="">
            <h5>carregando título...</h5>
            <p>carregando subtítulo...</p>
            <p>★☆...</p>
        </div>
    </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="swiper-slide">
        <div class="box-filmes">
            <a class="thumbTile" href="#"></a>
            <img src="../../../assets/img/carregarvideo.png" alt="">
            <h5>carregando título...</h5>
            <p>carregando subtítulo...</p>
            <p>★☆...</p>
        </div>
    </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="swiper-slide">
        <div class="box-filmes">
            <a class="thumbTile" href="#"></a>
            <img src="../../../assets/img/carregarvideo.png" alt="">
            <h5>carregando título...</h5>
            <p>carregando subtítulo...</p>
            <p>★☆...</p>
        </div>
    </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="swiper-slide">
        <div class="box-filmes">
            <a class="thumbTile" href="#"></a>
            <img src="../../../assets/img/carregarvideo.png" alt="">
            <h5>carregando título...</h5>
            <p>carregando subtítulo...</p>
            <p>★☆...</p>
        </div>
    </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="swiper-slide">
        <div class="box-filmes">
            <a class="thumbTile" href="#"></a>
            <img src="../../../assets/img/carregarvideo.png" alt="">
            <h5>carregando título...</h5>
            <p>carregando subtítulo...</p>
            <p>★☆...</p>
        </div>
    </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="swiper-slide">
        <div class="box-filmes">
            <a class="thumbTile" href="#"></a>
            <img src="../../../assets/img/carregarvideo.png" alt="">
            <h5>carregando título...</h5>
            <p>carregando subtítulo...</p>
            <p>★☆...</p>
        </div>
    </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="swiper-slide">
        <div class="box-filmes">
            <a class="thumbTile" href="#"></a>
            <img src="../../../assets/img/carregarvideo.png" alt="">
            <h5>carregando título...</h5>
            <p>carregando subtítulo...</p>
            <p>★☆...</p>
        </div>
    </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="swiper-slide">
        <div class="box-filmes">
            <a class="thumbTile" href="#"></a>
            <img src="../../../assets/img/carregarvideo.png" alt="">
            <h5>carregando título...</h5>
            <p>carregando subtítulo...</p>
            <p>★☆...</p>
        </div>
    </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="swiper-slide">
        <div class="box-filmes">
            <a class="thumbTile" href="#"></a>
            <img src="../../../assets/img/carregarvideo.png" alt="">
            <h5>carregando título...</h5>
            <p>carregando subtítulo...</p>
            <p>★☆...</p>
        </div>
    </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="swiper-slide">
        <div class="box-filmes">
            <a class="thumbTile" href="#"></a>
            <img src="../../../assets/img/carregarvideo.png" alt="">
            <h5>carregando título...</h5>
            <p>carregando subtítulo...</p>
            <p>★☆...</p>
        </div>
    </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="swiper-slide">
        <div class="box-filmes">
            <a class="thumbTile" href="#"></a>
            <img src="../../../assets/img/carregarvideo.png" alt="">
            <h5>carregando título...</h5>
            <p>carregando subtítulo...</p>
            <p>★☆...</p>
        </div>
    </div>
    </ng-template>
  </swiper>
