<div id="container">

    <section class="banner-top">
        <div class="ilustracao">
            <figure>
                <iframe id="ytplayer" type="text/html" width="720" height="405"
                    src="https://www.youtube.com/embed/0v6MO0EB7UY?autoplay=1&disablekb=1&fs=0&loop=1&modestbranding=1&color=white&iv_load_policy=3"
                    frameborder="0" allowfullscreen> </iframe>    
            </figure>            
        </div>
        <div class="info-preco">
            <h2>O Poderoso Chefão</h2>
            <div class="preco-button">
                <p>R$ 85,00</p>
                <button>COMPRAR</button>
            </div>
        </div>
        

    </section>
    <section class="prateleiras">
        <!-- Todas mais vendidos   --> 
        <div class="slide">
            <app-melhores></app-melhores>
        </div>
        <!-- Todas as Categorias   --> 
        <div class="slide">
            <app-swiper-example></app-swiper-example>
        </div>
        <!-- Categoria Ação  --> 
        <div class="slide">
            <app-swiper-example></app-swiper-example>
        </div>
        <!-- Categoria Aventura  --> 
        <div class="slide">
            <app-swiper-example></app-swiper-example>
        </div>
        <!-- Categoria Comédia  --> 
        <div class="slide">
            <app-swiper-example></app-swiper-example>
        </div>
        
    </section>
</div>