<footer class="footer-main">
    <div class="container-footer">
        <div class="footer-col">
            <a routerLink="">
                <img src="../assets/img/logoretroflixwhite.png" 
                alt="Retroflix | Reviva grandes momentos">
            </a>
            <p>
                Av. Paulista, 0001 - Cerqueira César,<br> São Paulo - SP | CEP 01311-200
                <br>Tel. 055 11 12344321
            </p>
            <div class="footer-social">
                <img src="../assets/img/facebook-icon.png" alt="facebook-icone">
                <img src="../assets/img/instagram-icon.png" alt="facebook-icone">
                <img src="../assets/img/youtube.icon.png" alt="facebook-icone">
                <img src="../assets/img/linkedin-icon.png" alt="facebook-icone">
                <img src="../assets/img/orkut-icon.png" alt="facebook-icone">
            </div>
        </div>
        <div class="footer-col">
            <ul class="menu-footer">
                <li><a href="/">Sobre</a></li>
                <li><a href="/">Contato</a></li>
                <li><a href="/">Carreiras</a></li>
                <li><a href="/">Privacidade</a></li>
                <li><a href="/">Centro de Ajuda</a></li>
                <li><a href="/">Política de reembolso</a></li>
                <li><a href="/">Formas de Pagamento</a></li>
            </ul>
        </div>
        <div class="footer-col formas-pagamento">
            <p>Formas de Pagamento</p>
            <div class="formas-icons">
                <img src="../assets/img/card-icon.png" alt="facebook-icone">
                <img src="../assets/img/boleto-icon.png" alt="facebook-icone">
                <img src="../assets/img/pix-icon.png" alt="facebook-icone">
                <img src="../assets/img/pagseguro.png" style="width:80px; height:80px; " alt="facebook-icone">

            </div>

        </div>

    </div>
</footer>